/* ================= RESET ================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background: #ffffff;
    color: #111;
  }
  
  section {
    padding: 60px 10%;
  }

  section + section {
    border-top: 1px solid #f0f0f0;
  }
  
  
  
  /* ================= NAVBAR ================= */
  
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    border-bottom: 1px solid #eee;
    z-index: 1000;
  }
  
  
  nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  
  nav ul li {
    list-style: none;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 15px;

    transition: 0.2s ease;
  }
  
  nav ul li a:hover {
    color: #9983be;
  }

  nav ul li a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background: #9983be;
    transition: 0.3s ease;
    margin-top: 4px;
  }
  
  nav ul li a:hover::after {
    width: 100%;
  }
  
  
  .logo {
    font-family: "Pacifico", cursive; 
    font-weight: 600;
    font-size: 26px;
    color: #9983be;
    text-decoration: none;
  }
  
  /* Push content below navbar */
  main {
    margin-top: 60px;
  }
  
  /* ================= HERO ================= */
  
  .hero {
    padding: 100px 10% 80px;

    display: flex;
    align-items: center;
    /* background: #ffffff; */
  }
  
  
  /* .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
  }
   */

   .hero-container {
    max-width: 800px;
    margin: 0 auto;
  }
  

  .hero-left {
    flex: 1;
  }
  
  .hero-name {
    font-size: 18px;
    font-weight: 600;
    color: #9983be;
    margin-bottom: 10px;
  }
  
  .hero-title {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 18px;
  }
  
  
  .hero-subtitle {
    font-size: 17px;
    color: #444;
    margin-bottom: 20px;
  }
  
  .hero-description {
    font-size: 15px;
    color: #555;
    line-height: 1.7;
    max-width: 600px;
    margin-bottom: 24px;
  }
  
  .hero-buttons {
    display: flex;
    gap: 15px;
  }

  .hero-stats {
    margin-top: 30px;
    font-size: 13px;
    color: #888;
    letter-spacing: 0.3px;
  }
  
  
  
  .btn-primary {
    background: #9983be;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    border: none;
  }
  
  .btn-primary:hover {
    opacity: 0.9;
    background: white;
    color: #9983be;
    border: 1px solid #9983be;
  }
  
  .btn-secondary {
    background: transparent;
    border: 1px solid #9983be;
    color: #9983be;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
  }
  
  .btn-secondary:hover {
    background: #9983be;
    color: white;
  }
  
  
  /* .hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .hero-image {
    max-width: 450px;
    width: 100%;
    border-radius: 12px;
  } */
  
  /* ================= SECTION TITLE ================= */
  
  .section-title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  /* ================= EXPERIENCE ================= */

/* .experience-section {
  background: #ffffff;
} */

/* .experience-item {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 0;
  border-bottom: 1px solid #e5e5e5;
} */

.experience-item {
  max-width: 900px;
  margin: 0 auto;
  padding: 35px;
  background: #fafafa;
  border-radius: 12px;
}


.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-header h2 {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.experience-item h3 {
  /* color: #7c3aed; */
  color: #9983be;
  font-size: 1rem;
  margin-bottom: 15px;
}

.date {
  font-size: 0.9rem;
  color: #777;
}

.experience-item ul {
  padding-left: 20px;
}

.experience-item ul li {
  margin-bottom: 12px;
  line-height: 1.6;
  color: #555;
}

  /* ===== SKILLS  ===== */

  .skills-section {
    padding: 50px 10% 60px;
  }
  .skills-section .section-title {
    margin-bottom: 20px;
  }
  

.skills-intro {
  max-width: 680px;
  color: #555;
  margin-bottom: 30px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 60px;
}


.skill-group h3 {
  font-size: 0.9rem;
  font-weight: 600;
  color: #111;
  margin-bottom: 8px;
}


.skill-group p {
  font-size: 0.95rem;
  color: #444;
}
.skill-group.full-width {
  grid-column: 1 / -1;
}


  
  /* ================= PROJECTS ================= */
  

.project-case-study {
  padding: 60px 10%;
  border-top: 1px solid #e5e5e5;
}

.project-container {
  max-width: 900px;
  margin: 0 auto;
}

.project-title {
  font-size: 1.6rem;
  font-weight: 700;
  /* margin-bottom: 8px; */
}

.project-role {
  font-size: 0.85rem;
  font-weight: 600;
  color: #9983be;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.project-overview {
  font-size: 1rem;
  color: #555;
  margin-bottom: 30px;
  line-height: 1.7;
  max-width: 700px;
}

.project-block {
  margin-bottom: 30px;
}

.project-block h3 {
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: 0.3px;

  /* margin-bottom: 12px; */
}

.project-block ul {
  padding-left: 18px;
}

.project-block li {
  margin-bottom: 10px;
  line-height: 1.6;
  color: #444;
}

.project-tech {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #555;
}

.project-links {
  margin-top: 25px;
}

.project-source {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  color: #9983be;
  border-bottom: 2px solid #9983be;
  padding-bottom: 2px;
  transition: 0.2s ease;
}

.project-source:hover {
  opacity: 0.7;
}

  
  /* ================= CONTACT ================= */
  
  #contact {
    padding: 100px 0;
    background: #ffffff;
    text-align: center;
  }
  
  .contact-subtext {
    max-width: 600px;
    margin: 0 auto 40px auto;
    color: #555;
  }
  
  .contact-form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 14px 16px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    font-size: 14px;
    transition: border 0.2s ease;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #855dc9; 
    outline: none;
  }
  
  .primary-btn {
    padding: 14px;
    border: 2px solid #9983be;
    border-radius: 6px;
    background: #9983be;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease;
  }
  
  .primary-btn:hover {
    background: #624d87;
  }
  
  /* ================= FOOTER ================= */
  
  

  .footer {
    padding: 25px 10%;
    background: #fafafa;
    border-top: 1px solid #eee;
    font-size: 0.9rem;
    /* text-align: center; */
  }
  
  footer a {
    color: #9983be;
    text-decoration: none;
    font-weight: 500;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  

  /* ===== ARCHITECTURE SECTION ===== */

.architecture-section {
  padding: 60px 10%;
  background: #f9fafb;
  border-top: 1px solid #e5e5e5;
}

.architecture-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.architecture-item h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.architecture-item p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.6;
}

/* ===== EDUCATION  ===== */

.education-section {
  padding: 60px 10%;
  border-top: 1px solid #f0f0f0;
  background: #f9fafb;

}

.education-item {
  margin-bottom: 50px;
}

.education-item h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.edu-meta {
  color: #555;
  font-size: 0.95rem;
  margin-bottom: 10px;
}

.edu-details {
  color: #444;
  font-size: 0.95rem;
  line-height: 1.6;
}


  /* ================= RESPONSIVE ================= */
  
  @media (max-width: 900px) {
    .hero-container {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-buttons {
      justify-content: center;
    }
  
    .project-card {
      flex-direction: column;
    }
  }


  